@media only screen and (max-width: 1024px) {
  .container {
    background-image: url("../images/pattern-background-mobile.svg");
  }
  .card {
    width: 360px !important;

    &__img {
      height: 220px !important;
    }

    &__body {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 40px 80px 1fr 1fr;
      padding: 20px 20px !important;
      text-align: center;
    }
  }
  .attribution {
    bottom: 6px !important;
  }
}