* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.container {
  background-image: url("../images/pattern-background-desktop.svg");
  background-color: #e0e8ff;
  background-repeat: no-repeat;
  width: 100vw;
  background-size: contain;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
